---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.top-image {
  background: url(images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.site-header {
  background-color: rgb(29, 29, 29);
  border-top: 0px;
}


.site-title, .site-title:visited {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Raleway";
    float: none;
    }

.site-nav .page-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: "Raleway";
  }

a {
    color: rgb(29, 29, 29);
  }

a:visited {
    color: rgb(89, 59,51);
}

.site-nav {
    background-color: rgba(37, 29, 26, 0.7);
  }

  .box {
    width: 300px;
    margin: auto;
    padding: 1.5em;
    font-family: "Raleway";
    font-size: 36px;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.95);
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }

body {
font-family: 'Raleway', sans-serif;
  }

h1, h2, h3 {
  text-align: center;
}

h2 {
  margin-top: 1rem;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-heading {
  font-size: 2em;
}

table {
  width: 100%;
}


.home {
     text-align: center;
}

h13, h13 a, h13 a:visited {
  font-size: 14px;
  color: #828282;
}

figcaption {
  text-align: center;
  margin-top: 2px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
  min-height: 200px;
}

button[type=submit] {
    width: 30%;
    background-color: #1d1d1d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
